

{% for file in site.data.members %}
{% assign member = file[1] %}
{{member.name}}
{{include.param}}
{% if member[0] == {{include.param}} %}


<div class="row">
  <div class="col-lg-12 col-sm-12">

    <div class="card hovercard" >
      <div class="cardheader" style="background: url('/assets/images/svg/binary_overlay.svg')">

      </div>
      <div class="avatar">
        <img alt="" src="/assets/images/svg/round_flat/8bit.svg">
      </div>
      <div class="info">
        <div class="title">
          <a href="http://bytewise.io/8bit/">{{member.name}}</a>
        </div>
        <div class="desc"><b>8bit is an aggregate blog of the Bytewise I/O members. We  aim to give users quick access to the most relevant and powerful information about technologies spanning past, present and future from industry professionals and seasoned developers.</b></div>

      </div>
      <div class="bottom">
	
      </div>
    </div>

  </div>

</div>



{% break %}
{% endif %}
{% endfor %}
